---
import BaseLayout from "../layouts/BaseLayout.astro";
// Import Greeting.jsx component
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>some sorta subtitle</h2>
    <Greeting messages={["Hi", "Hello", "Howdy", "Hey there"]} />
</BaseLayout>
