---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <p><i>{frontmatter.description}</i></p>
    <p>
        By {frontmatter.author} | Published: {
            frontmatter.pubDate.toString().slice(0, 10)
        }
    </p>
    <slot />
</BaseLayout>
