---
const { frontmatter } = Astro.props;
---

<meta charset="utf-8" />
<h1>{frontmatter.title}</h1>
<p><i>{frontmatter.description}</i></p>
<p>
    By {frontmatter.author} | Published: {
        frontmatter.pubDate.toString().slice(0, 10)
    }
</p>
<slot />
